<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>1С БСП справочник</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../../../css/style.css" th:href="@{/css/style.css}" />
</head>
<body>

    <div class="col">
        <div class="row">
            <div class="col" width="90%">
                <div>

                </div>
            </div>

            <!-- Правая часть поиск -->
            <div class="col" width="10%">
                <div>

                </div>

            </div>
        </div>

    </div>

    <!--<form class="flex_row" action="search" method="get">
        <input type="search" name="searchword">
        <button type="submit">Искать</button>
    </form>-->


    <table>

    </table>

</body>
</html>